@font-face {
  font-family: MontserratAlternates;
  font-display: swap;
  src: url(../fonts/MontserratAlternates-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: MontserratAlternates;
  font-display: swap;
  src: url(../fonts/MontserratAlternates-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: MontserratAlternates,sans-serif;
  font-size: 1rem;
  line-height: 120%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: MontserratAlternates,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
html {
  scroll-behavior: smooth
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
._container {
  padding: 0 20px;
  max-width: 1280px;
  margin: 0 auto
}
.header {
  padding: 18px 0 28px
}
.header ._container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px
}
.header__menu-button {
  position: relative;
  width: 40px;
  height: 40px
}
.header__menu-button span {
  display: block;
  position: absolute;
  left: 0;
  height: 3px;
  background-color: #000;
  border-radius: 50px
}
.header__menu-button span:first-child {
  top: calc(50% - 10.5px);
  width: 100%
}
.header__menu-button span:nth-child(2) {
  top: calc(50% - 1.5px);
  width: 27px
}
.header__menu-button span:last-child {
  top: calc(50% + 7.5px);
  width: 15px
}
.header__logo {
  position: absolute;
  top: 0;
  left: calc(50% - 50px);
  width: 100px;
  height: 100px
}
.header__menu {
  display: none
}
.header__socials {
  display: flex;
  gap: 20px;
  margin-right: -10px
}
.header__social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px
}
.header__social img {
  width: 30px;
  height: 30px
}
.menu {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: all .5s ease
}
.menu.active {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1)
}
.menu__top {
  padding: 18px 0 28px;
  flex: 0 0 146px;
  height: 146px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%
}
.menu__close {
  height: 30px;
  width: 30px
}
.menu__close img {
  width: 100%;
  height: 100%
}
.menu__socials {
  display: flex;
  gap: 20px;
  margin-right: -10px
}
.menu__social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px
}
.menu__social img {
  width: 30px;
  height: 30px
}
.menu__navigation {
  max-height: calc(100% - 158px);
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  overflow-y: auto
}
.menu__link {
  padding: 5px 13px;
  font-size: 16px;
  font-weight: 700;
  line-height: 125%
}
.menu__link.promotion {
  color: red
}
.menu__spoller {
  width: 100%
}
.menu__spoller-item {
  display: flex;
  flex-direction: column;
  width: 100%
}
.menu__spoller-title {
  align-self: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px 13px;
  border-radius: 7px;
  list-style: none;
  transition: all .5s ease
}
.menu__spoller-title._spoller-active {
  background-color: red
}
.menu__spoller-title._spoller-active span {
  color: #fff
}
.menu__spoller-title._spoller-active svg {
  fill: #fff;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}
.menu__spoller-title span {
  font-size: 16px;
  font-weight: 700;
  line-height: 125%;
  transition: color .5s ease
}
.menu__spoller-title svg {
  fill: #000;
  transition: all .5s ease
}
.menu__spoller-body {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 15px;
  padding: 20px 25px;
  width: 100%;
  background-color: red;
  border-radius: 10px
}
.menu__spoller-body .menu__link {
  color: #fff
}
.menu__author img {
  height: 12px
}
.footer {
  padding: 40px 0;
  background-color: red
}
.footer__top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 40px
}
.footer__logo {
  order: 1;
  flex: 0 0 100px;
  width: 100px;
  height: 100px
}
.footer__logo img {
  width: 100%;
  height: 100%
}
.footer__navigation {
  flex: 0 0 100%;
  order: 3;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px
}
.footer__link {
  font-size: 16px;
  font-weight: 700;
  line-height: 125%;
  white-space: nowrap;
  color: #fff;
  transition: color .5s ease
}
.footer__spoller {
  width: 100%
}
.footer__spoller-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%
}
.footer__spoller-title {
  align-self: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px 13px;
  border-radius: 7px;
  list-style: none;
  cursor: pointer;
  transition: all .5s ease
}
.footer__spoller-title._spoller-active {
  background-color: #fff
}
.footer__spoller-title._spoller-active span {
  color: red
}
.footer__spoller-title._spoller-active svg {
  fill: red;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}
.footer__spoller-title span {
  font-size: 16px;
  font-weight: 700;
  line-height: 125%;
  color: #fff;
  transition: color .5s ease
}
.footer__spoller-title svg {
  fill: #fff;
  transition: all .5s ease
}
.footer__spoller-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
  padding: 15px 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid red;
  border-radius: 10px
}
.footer__spoller-body .footer__link {
  padding: 5px 25px;
  width: 100%;
  text-align: center;
  color: red
}
.footer__socials {
  order: 2;
  display: flex;
  gap: 30px
}
.footer__social {
  flex: 0 0 22px;
  width: 22px;
  height: 22px
}
.footer__social img {
  width: 100%;
  height: 100%
}
.footer__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px
}
.footer__copy {
  font-size: 14px;
  line-height: 125%;
  color: #fff
}
.footer__author {
  height: 12px
}
.footer__author img {
  height: 100%
}
.banner {
  position: relative;
  padding-top: 58%;
  overflow: hidden
}
.banner img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.main-menu {
  padding-top: 40px
}
.main-menu__main-title {
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: 700;
  line-height: 125%;
  text-align: center;
  color: red
}
.main-menu__title {
  margin-bottom: 30px;
  font-size: 45px;
  font-weight: 700;
  line-height: 125%;
  text-align: center
}
.main-menu__block {
  position: relative;
  padding-bottom: 80px;
  margin-bottom: 80px
}
.main-menu__block .dashed-svg-line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10px;
  overflow: hidden;
  border-radius: 20px
}
.main-menu__block .dashed-svg-line svg {
  position: absolute;
  top: 0;
  width: auto;
  min-width: 100%;
  height: 10px
}
.main-menu__block-subtitle {
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 700;
  line-height: 125%;
  text-align: center
}
.main-menu__block-prom {
  margin-top: -20px;
  margin-bottom: 40px;
  font-size: 22px;
  line-height: 125%;
  text-align: center
}
.main-menu__block-prom span {
  color: red
}
.main-menu__body {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 20px
}
.main-menu__item {
  flex: 0 0 100%;
  padding: 8px 8px 16px;
  background-color: beige;
  border-radius: 20px;
  box-shadow: 0 4px 7px rgba(0,0,0,.13);
  display: flex;
  flex-direction: column;
  align-items: center
}
.main-menu__item-image {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  padding-top: 47%;
  border-radius: 12px;
  overflow: hidden
}
.main-menu__item-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.main-menu__item-name {
  margin-bottom: 7px;
  font-size: 18px;
  font-weight: 700;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  color: #494d4e
}
.main-menu__item-cost {
  margin-bottom: 7px;
  padding: 0 12px;
  height: 24px;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  background-color: red;
  border-radius: 16px
}
.main-menu__item-cost span {
  font-size: 16px;
  font-weight: 700
}
.main-menu__item-title {
  width: 100%;
  margin-bottom: 2px;
  font-size: 16px;
  font-weight: 700;
  line-height: 125%;
  color: #494d4e
}
.main-menu__item-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2px 20px
}
.main-menu__item-elem {
  position: relative;
  font-size: 14px;
  line-height: 125%;
  color: #494d4e
}
.main-menu__item-elem::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  top: calc(50% - 1.5px);
  right: -11px;
  background-color: red;
  border-radius: 50%
}
.main-menu__item-elem:last-child::after {
  display: none
}
.prom {
  padding-bottom: 80px
}
.prom__title {
  margin-bottom: 40px;
  font-size: 45px;
  font-weight: 700;
  line-height: 125%;
  text-align: center
}
.prom__body {
  position: relative;
  padding-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px 20px
}
.prom__body .dashed-svg-line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10px;
  overflow: hidden;
  border-radius: 20px
}
.prom__body .dashed-svg-line svg {
  position: absolute;
  top: 0;
  width: auto;
  min-width: 100%;
  height: 10px
}
.prom__item {
  flex: 0 0 100%;
  position: relative;
  padding-top: 100%;
  border-radius: 20px;
  overflow: hidden
}
.prom__image {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0
}
.prom__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.prom__text {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 12px 8px;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #fff;
  background-color: rgba(0,0,0,.75)
}
.info {
  padding: 0 0 80px
}
.info ._container {
  display: flex;
  flex-direction: column;
  gap: 30px
}
.info h1,
.info h2,
.info h3,
.info h4 {
  font-weight: 700;
  line-height: 125%;
  text-align: center
}
.info h1 {
  font-size: 69px
}
.info h2 {
  font-size: 45px
}
.info h3 {
  font-size: 30px
}
.info h4 {
  font-size: 18px
}
.info ol {
  display: flex;
  flex-direction: column
}
.info ol>li {
  font-size: 18px;
  line-height: 145%;
  list-style-position: inside
}
.info ul {
  display: flex;
  flex-direction: column
}
.info ul>li {
  font-size: 18px;
  line-height: 145%;
  list-style-position: inside;
  list-style-type: disc
}
.info a,
.info p {
  font-size: 18px;
  line-height: 145%
}
.info a {
  position: relative;
  color: red
}
.info a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 1px;
  width: 0;
  background-color: red;
  transition: all .5s ease
}
.info blockquote {
  padding: 20px;
  font-size: 18px;
  line-height: 145%;
  background-color: beige;
  border-radius: 20px
}
.info img {
  display: block;
  width: 100%;
  border-radius: 20px
}
.info__table {
  padding-bottom: 10px;
  width: 100%;
  overflow-x: auto
}
.info__table table {
  width: 100%;
  border-collapse: collapse
}
.info__table td,
.info__table th {
  padding: 12px 15px;
  font-size: 16px;
  line-height: 150%;
  border: 1px solid red
}
.info__table th {
  font-weight: 700;
  text-align: left;
  color: #fff;
  background-color: red;
  border-right-color: #fff
}
.info__table th:last-child {
  border-right-color: red
}
.info__table td {
  border-color: #000
}
.contacts {
  padding-bottom: 70px
}
.contacts__title {
  margin-bottom: 22px;
  font-size: 45px;
  font-weight: 700;
  line-height: 125%;
  text-align: center
}
.contacts__row {
  margin-bottom: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px
}
.contacts__link {
  font-size: 16px;
  line-height: 125%
}
.contacts__item {
  display: flex;
  justify-content: center;
  gap: 20px
}
.contacts__socail {
  flex: 0 0 22px;
  width: 22px;
  height: 22px
}
.contacts__socail img {
  width: 100%;
  height: 100%
}
.contacts__subtitle {
  margin-bottom: 22px;
  font-size: 30px;
  font-weight: 700;
  line-height: 125%;
  text-align: center
}
.contacts__adress {
  margin-bottom: 45px;
  font-size: 16px;
  line-height: 125%;
  text-align: center
}
.contacts__map {
  position: relative;
  height: 370px;
  overflow: hidden
}
.contacts__map iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.go-home {
  position: fixed;
  z-index: 40;
  right: 40px;
  bottom: 40px;
  width: 44px;
  height: 44px
}
.go-home img {
  width: 100%;
  height: 100%
}
@media (min-width:29.99875em) {
  .main-menu__item {
    flex: 0 0 calc(50% - 10px)
  }
  .prom__item {
    flex: 0 0 calc(50% - 10px);
    padding-top: calc(50% - 10px)
  }
}
@media (min-width:47.99875em) {
  .banner {
    padding-top: 45%
  }
  .main-menu__body {
    gap: 40px 21px
  }
  .main-menu__item {
    flex: 0 0 calc(33.333% - 14px)
  }
}
@media (min-width:61.99875em) {
  ._container {
    padding: 0 50px
  }
  .header {
    padding: 26px 0 46px
  }
  .header__menu-button {
    display: none
  }
  .header__logo {
    position: static
  }
  .header__menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 22px
  }
  .header__link {
    padding: 5px 13px;
    font-size: 16px;
    font-weight: 700;
    line-height: 125%;
    color: #000;
    transition: color .5s ease
  }
  .header__link.promotion {
    color: red
  }
  .header__link:hover {
    color: red
  }
  .header__link-menu {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 13px;
    border-radius: 7px;
    cursor: pointer;
    transition: all .5s ease
  }
  .header__link-menu:hover span {
    color: red
  }
  .header__link-menu:hover svg {
    fill: red
  }
  .header__link-menu.open {
    background-color: red
  }
  .header__link-menu.open span {
    color: #fff
  }
  .header__link-menu.open svg {
    fill: #fff
  }
  .header__link-menu span {
    font-size: 16px;
    font-weight: 700;
    line-height: 125%;
    color: #000;
    transition: color .5s ease
  }
  .header__link-menu svg {
    fill: #000;
    transition: all .5s ease
  }
  .header__submenu {
    position: absolute;
    z-index: 10;
    left: 50%;
    top: calc(100% + 12px);
    display: flex;
    flex-direction: column;
    min-width: 300px;
    padding: 20px 0;
    background-color: red;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease
  }
  .header__submenu.open {
    opacity: 1;
    visibility: visible
  }
  .header__submenu-link {
    padding: 5px 25px;
    font-size: 16px;
    font-weight: 700;
    line-height: 125%;
    white-space: nowrap;
    color: #fff;
    transition: all .5s ease
  }
  .header__submenu-link:hover {
    background-color: #fff;
    color: red
  }
  .footer {
    padding: 30px 0
  }
  .footer__top {
    flex-wrap: nowrap;
    margin-bottom: 60px
  }
  .footer__navigation {
    flex: 0 0 auto;
    order: 2;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: center
  }
  .footer__link:hover {
    color: #000
  }
  .footer__spoller-title:hover span {
    color: #000
  }
  .footer__spoller-title:hover svg {
    fill: #000
  }
  .footer__spoller-body {
    width: auto
  }
  .footer__spoller-body {
    position: absolute;
    left: 50%;
    bottom: calc(100% + 12px)
  }
  .footer__spoller-body .footer__link:hover {
    background-color: red;
    color: #fff
  }
  .footer__socials {
    order: 3
  }
  .footer__bottom {
    position: relative;
    flex-direction: row;
    justify-content: flex-start
  }
  .footer__author {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
  }
  .banner {
    padding-top: 35%
  }
  .main-menu__main-title {
    font-size: 69px
  }
  .main-menu__body {
    gap: 40px 20px
  }
  .main-menu__item {
    flex: 0 0 calc(25% - 15px)
  }
  .prom__text {
    padding: 24px 8px
  }
  .info a:hover::after {
    left: 0;
    width: 100%
  }
  .contacts {
    padding-bottom: 80px
  }
  .contacts__row {
    flex-direction: row;
    justify-content: center
  }
  .go-home {
    bottom: 60px
  }
}